# Nuxt
.nuxt
.output
dist
.data
.nitro
.cache

# Node
node_modules

# Cloudflare
.wrangler
.dev.vars

# Environment
.env
.env.*
!.env.example

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# pnpm
pnpm-debug.log
.playwright*/